<?xml version="1.0" encoding="utf-8"?>
<configs>

    <!-- (i-1)+(i*const) -->

    <config level="0" ia="EASY" color="#09C2BF|#FF6C6B" mode="CLASSIC"/>

    <config level="1" color="#EFC94C|#E27A3F"/>

    <config level="2" row="4"/>

    <config level="3" mode="EDGE_BAD" />

    <config level="4" column="4"/>

    <config level="5" />

    <config level="6" column="5"/>

    <config level="7" mode="TILE_BAD" />

    <config level="8" />

    <config level="9"/>

    <config level="10" row="5"/>

    <config level="11" />

    <config level="12" ia="EASY_MAX_TILE" />

    <config level="13" mode="EDGE_GOOD" />

    <config level="14" />

    <config level="15" column="6"/>

    <config level="16" />

    <config level="17" mode="TILE_GOOD" />

    <config level="18" />

    <config level="19"/>

    <config level="20" />

    <config level="21" ia="AGGRESSIVE" />

    <config level="22" row="6"/>

    <config level="23" mode="BEST_AREA" />

    <config level="24" />

    <config level="25" row="7"/>

    <config level="26" />

    <config level="27" mode="CONTINUE_TO_PLAY" />

    <config level="28" ia="MCTS" />

    <config level="29" column="7" />

    <config level="30"/>

</configs>
