<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <!--<target name="file" xsi:type="File" fileName="${basedir}/log.txt" layout="${longdate} ${callsite} ${level} ${newline} ${message} ${newline} ${exception:format=Message,StackTrace}" />-->
    <!--Détails : http://nlog-project.org/wiki/File_target#Time-based_file_archival-->
    <target name="file" xsi:type="File"
      layout="${longdate} ${callsite} ${level} ${newline} ${message} ${newline} ${exception:format=Message,StackTrace}"
      fileName="${basedir}/log.txt"
      archiveFileName="${basedir}/log.{#}.txt"
      archiveEvery="Day"
      archiveNumbering="Rolling"
      maxArchiveFiles="7"
      concurrentWrites="true"
      keepFileOpen="false"
      encoding="iso-8859-2" />
  </targets>

  <rules>
    <logger name="*" minlevel="debug" writeTo="file" />
  </rules>
</nlog>