<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="banand.lionel.com.tpandroid" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="banand.lionel.com.tpandroid.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="banand.lionel.com.tpandroid.Service.TpAndroidService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver
            android:name="banand.lionel.com.tpandroid.Broadcast.TpAndroidReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="banand.lionel.com.tpandroid.NEED_TO_START_SERVICE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="banand.lionel.com.tpandroid.Activity.DisplayMediaActivity"
            android:label="@string/title_activity_display_media" >
        </activity>
    </application>

</manifest>
